<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="back-buttom" slot="start">
      <ion-back-button text="Atrás" default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="background-color: #1f1f1f ; color:white;">Register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="card-papa">

  <ion-card class="card-hijo">

        <ion-item>
          <ion-input type="text" [(ngModel)]="datos.nombre" label="Nombre" labelPlacement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="text" [(ngModel)]="datos.apellido" label="Apellido" labelPlacement="floating" fill="outline" laceholder="Ingrese su apellido"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="email" [(ngModel)]="datos.email" label="Correo" labelPlacement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
        </ion-item>

        <ion-list>
          <ion-item>
            <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionado">
              <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-list>
          <ion-item>
            <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
              <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-list>

        <ion-item>
          <ion-input type="password" [(ngModel)]="datos.password" label="Contraseña" labelPlacement="floating" fill="outline"  placeholder="Ingrese su contraseña"></ion-input>
        </ion-item>

        <ion-item>
          <ion-input type="password" [(ngModel)]="datos.confirmarPass" label="Confirmar Contraseña" labelPlacement="floating" fill="outline"  placeholder="Confirme su contraseña"></ion-input>
        </ion-item>


      <ion-button class="botones" expand="block" (click)="register()">Register</ion-button>
  </ion-card>





</ion-content>
