<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="back-buttom" slot="start">
      <ion-back-button text="Atrás" default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="background-color: #1f1f1f ; color:white;">Register</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="card-papa">

  <ion-card class="card-hijo">

          <div class="cont">
            <ion-input type="text" [(ngModel)]="datos.nombre" label="Nombre" labelPlacement="floating"  placeholder="Ingrese su nombre"></ion-input>
          </div>

          <div class="cont">
            <ion-input type="text" [(ngModel)]="datos.apellido" label="Apellido" labelPlacement="floating"  laceholder="Ingrese su apellido"></ion-input>
          </div>

          <div class="cont">
            <ion-input type="email" [(ngModel)]="datos.email" label="Correo" labelPlacement="floating"  placeholder="Ingrese su correo"></ion-input>
          </div>

        <ion-list>
            <ion-select (ionChange)="cargarComuna()" placeholder="Seleccione region" [(ngModel)]="regionSeleccionado">
              <ion-select-option [value]="i.id" *ngFor="let i of regiones">{{i.nombre}}</ion-select-option>
            </ion-select>
        </ion-list>

        <ion-list>
            <ion-select placeholder="Seleccione comuna" [(ngModel)]="comunaSeleccionada">
              <ion-select-option [value]="i.id" *ngFor="let i of comunas">{{i.nombre}}</ion-select-option>
            </ion-select>
        </ion-list> 

        <div class="cont">
          <ion-input type="password" [(ngModel)]="datos.password" label="Contraseña" labelPlacement="floating"   placeholder="Ingrese su contraseña"></ion-input>
        </div>

        <div class="cont">
          <ion-input type="password" [(ngModel)]="datos.confirmarPass" label="Confirmar Contraseña" labelPlacement="floating"   placeholder="Confirme su contraseña"></ion-input>
        </div>

      <ion-button class="botones" expand="block" (click)="register()">Register</ion-button>
  </ion-card>





</ion-content>
