<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Confirmar Viaje</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-papa">
  <ion-card class="card-hijo">
    
    <ion-card-header color="light">
      <p>Registrado por: {{ vehiculo.correoUsuario }}</p>
      <p>Modelo del Vehiculo: {{ vehiculo.marcaVehiculo }}</p>
      <p>Placa del Vehiculo: {{ vehiculo.patenteVehiculo }}</p>
      <p>Costo del Viaje: {{ vehiculo.costoViaje }}</p>
      <p>Cantidad de Personas: {{ vehiculo.cantidadPersonas }}</p>
      <p>Destino: {{ vehiculo.destino }}</p>
    </ion-card-header>
    <br>
    <ion-segment [(ngModel)]="metodoPago" color="primary">
      <ion-segment-button value="tarjeta">
        Tarjeta
      </ion-segment-button>
      <ion-segment-button value="efectivo">
        Efectivo
      </ion-segment-button>
    </ion-segment>

    <ion-item color="light">
      <ion-label>Número de Tarjeta</ion-label>
      <ion-input [(ngModel)]="vehiculo.numeroTarjeta" placeholder="Número de Tarjeta"
        [disabled]="!habilitarCampos()"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label>Fecha de Expiración</ion-label>
      <ion-input [(ngModel)]="vehiculo.fechaExpiracion" placeholder="Fecha de Expiración"
        [disabled]="!habilitarCampos()"></ion-input>
    </ion-item>
    <ion-item color="light">
      <ion-label>Código de Seguridad</ion-label>
      <ion-input [(ngModel)]="vehiculo.codigoSeguridad" placeholder="Código de Seguridad"
        [disabled]="!habilitarCampos()"></ion-input>
    </ion-item>

    <ion-button (click)="confirmarViaje()" [disabled]="!vehiculo">Confirmar Viaje</ion-button>

  </ion-card>
</ion-content>