<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" default-href="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-button slot="start" (click)="atrasInicio()"> <ion-icon name="arrow-back-circle-outline"></ion-icon> </ion-button> -->
    <ion-title style="background-color: #1f1f1f ; color:white;">Menu Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; height: 100%; padding: 20px;">
    <ion-button (click)="solicitarAuto()" expand="full" size="large" color="translucent" style="flex: 1; border: solid; border-radius: 30px; background: #FBBB34; color:white; font-size: 35px; font-weight: bold;">Solicitar Auto</ion-button>
    <ion-button (click)="ofrecerAuto()" expand="full" size="large" color="translucent" style="flex: 1; border: solid; border-radius: 30px; font-size: 35px; font-weight: bold; ">Ofrecer Auto</ion-button>
  </div>
</ion-content>
