<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <!-- <ion-button slot="start" (click)="atrasInicio()"> <ion-icon name="arrow-back-circle-outline"></ion-icon> </ion-button> -->
    <ion-title>menu Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-button expand="full" size="large" color="primary">Botón 1</ion-button>
      </ion-col>
      <ion-col size="12">
        <ion-button expand="full" size="large" color="secondary">Botón 2</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
