<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <!-- <ion-button slot="start" (click)="atrasInicio()"> <ion-icon name="arrow-back-circle-outline"></ion-icon> </ion-button> -->
    <ion-title>menu Principal</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: flex; flex-direction: column; height: 100%; padding: 20px;">
    <ion-button expand="full" size="large" color="translucent" style="flex: 1; border: solid; border-radius: 30px; background: white; color:black; font-size: 35px; font-weight: bold;">Solicitar Auto</ion-button>
    <ion-button expand="full" size="large" color="translucent" style="flex: 1; border: solid; border-radius: 30px; font-size: 35px; font-weight: bold; ">Ofrecer Auto</ion-button>
  </div>
</ion-content>

<!-- xupalo amaro -->
