<ion-header [translucent]="true">
    <ion-toolbar>

      <ion-buttons class="back-buttom" slot="start">
        <ion-back-button text="Atrás" default-href="/"></ion-back-button>
      </ion-buttons>
      <ion-title style="background-color: #1f1f1f ; color:white;">Login</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-papa">
<!-- xd -->

  <ion-card class="card-hijo">
    <ion-card-content>

        <div class="ion-container">
          <ion-img class="img" src="https://i.postimg.cc/RZC8fDnD/auto-dorado.png" alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
        </div>

        <ion-item class="input1">
          <ion-input  [(ngModel)]="this.credenciales.email" label="Email" type="text" label-placement="floating" placeholder="Enter your name"> </ion-input>
        </ion-item>

        <ion-item  class="input2">
          <ion-input  [(ngModel)]="this.credenciales.password" label="Password" type="password" label-placement="floating" placeholder="Enter your password"> </ion-input >
        </ion-item>
    </ion-card-content>

    <ion-row class="botones">
      <ion-col>

        <ion-button expand="full" (click)="login()">Login</ion-button>

        <ion-text style="margin-bottom: 10px" class="links" (click)="registrar()"> Crear una cuenta</ion-text>

        <ion-text class="links" (click)="recuperarContra()"> Recuperar contraseña</ion-text>



      </ion-col>


    </ion-row>

  </ion-card>

</ion-content>
