ion-content{
    --background: #01162c;
    --overflow: hidden;

}
ion-toolbar {
    --background: #1f1f1f;
}


.ion-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.botones{
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: #FBBB34;
    --color: white;
    font-weight:bold;

}


.card-papa {
    --background: #01162c;
}

.card-papa .card-hijo {
    --background: #01162c;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 500px;
    min-width: 350px;
    margin: auto;
    margin-top: 20px;
    padding-top: 250px;
    padding-bottom: 250px;
    padding-left: 10px;
    padding-right: 10px;

}

ion-item{
    border: 1px solid white;
    border-radius: 10px;
    margin-bottom: 10px;

}

