<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="back-buttom" slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-item>  
    <ion-input label="Nombre" labelPlacement="floating" fill="outline" placeholder="Ingrese su nombre"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Apellido" labelPlacement="floating" fill="outline" placeholder="Ingrese su apellido"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input label="Correo" labelPlacement="floating" fill="outline" placeholder="Ingrese su correo"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="pass" label="Contraseña" labelPlacement="floating" fill="outline" placeholder="Ingrese su contraseña"></ion-input>
  </ion-item>
  <ion-item>
    <ion-input [(ngModel)]="confirmarPass" label="Confirmar Contraseña" labelPlacement="floating" fill="outline" placeholder="Confirme su contraseña"></ion-input>
  </ion-item>

  <br>
  <ion-button expand="block" (click)="register()">Register</ion-button>

</ion-content>
