<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="back-buttom" slot="start">
      <ion-back-button default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title style="background-color: #1f1f1f ; color:white;">Recuper Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-papa">


  <ion-card class="card-hijo">

    <ion-card-content>
      <div class="ion-container">
        <ion-img class="img" src="https://i.postimg.cc/RZC8fDnD/auto-dorado.png"
          alt="The Wisconsin State Capitol building in Madison, WI at night"></ion-img>
      </div>
    </ion-card-content>

    <ion-text>
      <ion-item class="input1">
        <ion-input [(ngModel)]="email" label="Email" type="text" label-placement="floating"
          placeholder="Enter your name"> </ion-input>
      </ion-item>

      <ion-button class="boton" expand="full" (click)="enviarCorreo()">Enviar</ion-button>


    </ion-text>
  </ion-card>

</ion-content>