<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="Atrás" default-href="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Solicitar Auto</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
    <ion-list class="textos">
        <ion-item>
          <ion-input label="Origen:" type="text" label-placement="floating" placeholder="Metro Macúl"></ion-input>
        </ion-item>
    
        <ion-item>
          <ion-input label="Destino:" type="text" label-placement="floating" placeholder="Metro San Joaquín"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-input label="Ingresa el costo del viaje:" type="number" label-placement="floating" placeholder="$1.000"></ion-input>
        </ion-item>
    </ion-list>

    <ion-button class="botones" expand="block" fill="outline" routerLink="#">Solicitar Auto</ion-button>
    <!-- <ion-button class="botones" expand="block" fill="outline" routerLink="#">Cancelar</ion-button> -->
</ion-content>
