.ion-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content {
  --background: #012C56;
  display: block;
  align-content: center;
  justify-content: center;
  align-items: center;
}