<ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title style="background-color: #1f1f1f ; color:white;">TellevoApp</ion-title>
  </ion-toolbar>
</ion-header>

<!-- hola esto es un test -->
<ion-content [fullscreen]="true" class="card-papa">
  <ion-card class="card-hijo">
    <div class="ion-container">
      <ion-img class="img" src="https://i.postimg.cc/RZC8fDnD/auto-dorado.png" alt="Auto"></ion-img>
      <div class="texto">TeLlevoApp</div>
    </div>

    <div class="botones">
      <ion-button (click)="cargarLogin()">Ingresar</ion-button>
      <ion-button (click)="cargarRegistro()">Registrarse</ion-button>
    </div>
  </ion-card>
</ion-content>